{% extends 'layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="item-entry">
	<h2>Comment by {{ object.publisher }} | {{ object.created_at }}</h2>
	<p>{{ object.comment }}</p>
	{% if user.is_authenticated and user.is_staff %}
	<p><a href="{% url 'comment_edit' comment.product.id comment.pk %}">Edit</a> | <a href="{% url 'comment_delete' comment.product.id comment.pk %}">Delete</a></p>
	{% endif %}
</div>
<p>Back to <a href="{% url 'product_detail' comment.product.id %}">"{{ comment.product.name }}"</a>.</p>
{% endblock content %}
